
.progressbar{
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 100%;
	border-radius: 5px;
	background-color: #eee;
}

.progressPercent{
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: black;
	/* text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555; */
}